
/* .ProfileModal ul {
    
    list-style:none;
    margin:0;
    padding:0;
}
.ProfileModal li {
    line-height: 32px;
    width: 100%;
}
.profile-option-links{
    display: flex;
    flex-direction: column;
}
.profile-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img-container{
    display: flex;

} */

